.company--item, .skills--text, .skills--image, .soft-skills--item {
  transition: transform 0.3s; }
  .company--item:hover, .skills--text:hover, .skills--image:hover, .soft-skills--item:hover {
    transform: translate(0, -1.5rem); }

.navbar-title, .hero--title, .hero--image, .about--text, .footer--copyright {
  transition: all 0.3s; }
  .navbar-title:hover, .hero--title:hover, .hero--image:hover, .about--text:hover, .footer--copyright:hover {
    transform: scale(1.1); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555; }

*:focus {
  outline: none;
  box-shadow: 0 0 1rem rgba(230, 125, 34, 0.5); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flexbox-heading-and-container {
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem; }

.move-in-left {
  animation: moveInLeft 1s ease-out; }

.move-in-right {
  animation: moveInRight 1s ease-out; }

.hide-element {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; }

.heading {
  font-weight: 700;
  color: #b28451;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s; }
  .heading--primary {
    font-size: 6rem; }
    .heading--primary:hover {
      transform: scale(1.2); }
  .heading--secondary {
    font-size: 3rem; }

.navbar {
  background-color: #fdf2e9;
  color: #101d2c;
  display: flex;
  justify-content: space-between;
  padding: 4rem 3.5rem;
  font-size: 2.3rem; }
  .navbar > * {
    animation: fadeIn 3s ease-out; }
  .navbar-title:hover {
    color: #b28451; }
  .navbar-list {
    display: flex;
    gap: 4rem;
    margin-right: 4rem; }
  .navbar-button:link, .navbar-button:visited {
    text-decoration: none;
    color: #101d2c;
    transition: all 0.3s; }
  .navbar-button:hover, .navbar-button:active {
    color: #b28451; }

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
  padding: 4.3rem 5rem; }
  .hero--title {
    font-size: 6rem;
    animation: moveInLeft 3s ease-out;
    background-size: 220%;
    background-image: linear-gradient(30deg, transparent 0%, transparent 50%, #b28451 50%);
    background-clip: text;
    /* BELOW 1340px  -  1340px / 16 = 84em  */
    /* BELOW 1136px  -  1136px / 16 = 71em  */ }
    .hero--title:hover {
      background-position: 100%;
      color: transparent; }
    @media only screen and (max-width: 84em) {
      .hero--title {
        font-size: 5rem; } }
    @media only screen and (max-width: 71em) {
      .hero--title {
        font-size: 4.5rem; } }
  .hero--image {
    max-width: 55%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #b28451;
    animation: fadeIn 5s ease-out; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 6rem 0;
  animation: fadeIn 3s ease-out; }
  .about--image--container {
    display: flex;
    justify-content: center;
    clip-path: circle();
    background-color: #f5f8fb;
    transition: all 0.3s; }
    .about--image--container:hover {
      transform: scale(1.2); }
  .about--image {
    width: 15%; }
  .about--text {
    max-width: 80%;
    text-align: justify;
    font-size: 2rem;
    color: #333;
    letter-spacing: 0.15rem;
    line-height: 1.5; }
    .about--text:hover {
      max-width: 85%; }

.company--container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; }

.company--item {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: justify; }

.company--image {
  width: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #b28451; }

.company--text {
  max-width: 80%;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1rem; }

.company--date {
  font-size: 1.5rem; }
  .company--date--present {
    font-weight: 500; }

.skills--grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8rem;
  /* BELOW 832px  -  832px / 16 = 52em  */ }
  @media only screen and (max-width: 52em) {
    .skills--grid {
      row-gap: 12rem; } }
  .skills--grid--item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    /* BELOW 1040px  -  1040px / 16 = 65em  */ }
    @media only screen and (max-width: 65em) {
      .skills--grid--item {
        gap: 5rem; } }

.skills--text {
  flex: 0 1 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify; }
  .skills--text--title {
    font-weight: 700;
    font-size: 2.5rem; }
  .skills--text--description {
    font-size: 1.5rem;
    line-height: 1.5; }

.skills--image {
  max-width: 30rem;
  border-radius: 1rem;
  /* BELOW 1040px  -  1040px / 16 = 65em  */ }
  @media only screen and (max-width: 65em) {
    .skills--image {
      order: -1; } }

.soft-skills--container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center; }

.soft-skills--item {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }

.soft-skills--icon {
  font-size: 4rem; }

.soft-skills--text {
  font-size: 2rem;
  max-width: 75%;
  text-align: justify; }

.education-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem; }

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem; }

.card {
  overflow: hidden;
  border: 3px solid #fdf2e9;
  border-radius: 1rem;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .card:hover {
    transform: scale(1.05); }
  .card--image {
    max-width: 50%; }
  .card--title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 75%;
    text-align: center; }
  .card--location {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding-bottom: 2rem; }
    .card--location--icon {
      height: 2rem;
      width: 2rem; }
    .card--location--text {
      font-weight: 500; }
    .card--location--date {
      font-weight: 300; }

.contact--container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center; }

.btn--contact:link,
.btn--contact:visited {
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 3rem;
  background-color: #b28451;
  color: #f9f7f6;
  border-radius: 1rem;
  transition: all 0.3s;
  background-size: 220%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #04aa6d 50%); }

.btn--contact:hover,
.btn--contact:active {
  background-position: 100%;
  transform: scale(1.3); }

.footer-container {
  padding: 5rem 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center; }

.footer--copyright {
  color: #f9f7f6;
  font-size: 1.5rem; }
  .footer--copyright:hover {
    color: #b28451; }

.footer--list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem; }
  .footer--list--item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #f9f7f6;
    font-size: 1.5rem;
    transition: all 0.3s; }
    .footer--list--item:hover {
      color: #b28451;
      transform: translate(1rem, 0); }
    .footer--list--item--icon {
      width: 2.5rem;
      height: 2.5rem; }
    .footer--list--item--link:link, .footer--list--item--link:visited {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s; }
    .footer--list--item--link:hover, .footer--list--item--link:active {
      color: #b28451; }

.section-hero,
.section-soft-skills,
.section-skills,
.section-contact {
  background-color: #fdf2e9; }

.section-footer {
  background-color: #333; }
