// Colors
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #555;
$color-grey-dark-1: #333;

$background-color-orange-light: #fdf2e9;

// Font
$font-primary: "Poppins", sans-serif;

// Boder-radius
$border-radius-extra-sm: 0.5rem;
$border-radius-sm: 1rem;
$border-radius-md: 2rem;

// Margins
$margin-sm: 4rem;
