*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  line-height: 1;
  font-weight: 400;
  color: $color-grey-light-2;
}

*:focus {
  outline: none;
  box-shadow: 0 0 1rem rgba(230, 125, 34, 0.5);
}
